<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="login-page">
    <div class="form">
      <div style="padding-bottom: 25px;font-size: 25px;">Welcome Back

      </div>


      <div class="form-group">

        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="User/Email" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required" style="font-size: 10px;color: red;">Username is required</div>
        </div>
      </div>

      <div class="form-group">

        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="password" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required" style="font-size: 10px;color: red;">Password is required</div>
        </div>
      </div>
     
      <button [disabled]="loading">log in</button>
      <p class="message">Don't have an account? <a href="#">SIGN UP</a></p>
    </div>
  </div>
</form>