body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

   .customright.mat-card{
  
   background-color:white;
   padding: 39px;
   margin: 15px;
   height: 261px;
   }
  .custom.mat-card{
  
      background-color: white;
    padding: 35px;
    margin: 7px;
    height: 79px;
   }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
  }
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 88px;
    border-radius: 0px;
    width: 844px;
    height: 159px;
    /* border-radius: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available; */
   
}
